{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jakub Vítek">

    <title>KIV/PIA Piškvorky | {{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{%  static "core/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%  static "core/css/font-awesome.min.css" %}">

    <script src="{% static 'lobby/jquery/jquery.js' %}"></script>
    <script src="{% static 'lobby/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Ostatní CSS -->
    {% block css %}
    {% endblock %}



</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg mr-0 ml-0 navbar-dark bg-primary static-top">
    <div class="container mr-0 ml-0 col-lg-12">
        <a class="navbar-brand" href="/lobby">KIV/PIA Piškvorky</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/lobby">User: {{ user.email }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container p-0 col-lg-12 align-content-center">
    {% block content %}
    {% endblock %}
</div>

<!-- Ostatní JS -->
{% block javascript %}
{% endblock %}

</body>

</html>
