{% load static %}

<div class="card m-3">
    <div class="card-header bg-success text-white fa-bold">
        Chat
    </div>
    <div class="card-body p-0">
        <ul class="list-group chat-entries list-group-flush p-0">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        User1:
                    </div>
                    <div class="col-sm-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        User2:
                    </div>
                    <div class="col-sm-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        sognus@sognus.cz:
                    </div>
                    <div class="col-sm-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                    </div>
                </div>
            </li>
        </ul>
        <hr class="m-0 p-0">
        <ul class="list-group list-group-flush p-0">
            <li class="list-group-item pb-0">
                <div class="input-group mb-3 pb-0">
                    <textarea class="form-control" name="chat-text-input" id="chat-text-input" aria-label="With textarea"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-primary" name="chat-button-send" id="chat-button-send" type="button">Odeslat</button>
                    </div>
                </div>
            </li>
        </ul>
</div>
</div>