{% load static %}

<div class="card m-3">
    <div class="card-header bg-success text-white fa-bold">
        Přátelé
    </div>
    <div class="card-body friends-card p-0">
        <ul class="list-group p-0">
            <li class="list-group-item mb-0 pt-1 pb-1">
                <div class="row">
                    <div class="col-4 user-username">
                        UserTest
                    </div>
                    <div class="col-8">
                        <div class="float-right">
                        <button class="btn btn-danger btn-sm friends-button" name="chat-button-send"
                                id="chat-button-send"
                                type="button">Odebrat
                        </button>
                        <button class="btn btn-danger btn-sm friends-button" name="chat-button-send"
                                id="chat-button-send"
                                type="button">Vyzvat
                        </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item mb-0 pt-1 pb-1">
                <div class="row">
                    <div class="col-4 user-username">
                        UserTest2
                    </div>
                    <div class="col-8">
                        <div class="float-right">
                        <button class="btn btn-danger btn-sm friends-button" name="chat-button-send"
                                id="chat-button-send"
                                type="button">Odebrat
                        </button>
                        <button class="btn btn-danger btn-sm friends-button" name="chat-button-send"
                                id="chat-button-send"
                                type="button">Vyzvat
                        </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>