{% load static %}

<div class="card m-3">
    <div class="card-header bg-secondary text-white text-bold">
        Seznam her
    </div>
    <div class="card-body friends-card p-0">
        <ul class="list-group p-0">
            {% if gamelist|length > 0 %}
                {% for game in gamelist %}
                    <li class="list-group-item mb-0 pt-1 pb-1">
                        <div class="row pl-0">
                            <div class="col-4 pl-0 ml-0 user-username">
                                {% if game.completed is True %}
                                    <span class="badge badge-pill badge-danger" title="hra dokončena">&nbsp</span>
                                {% else %}
                                    <span class="badge badge-pill badge-success" title="hra probíhá">&nbsp</span>
                                {% endif %}
                                Hra #{{ game.id }}
                            </div>
                            <div class="col-8 float-right text-right">
                                {% if game.completed is True %}
                                    Hra dokončena,
                                    {% if game.winner != None %}
                                        vítěz {{ game.winner.email }}
                                    {% else %}
                                        remíza {{ game.player1.email }} a {{ game.player2.email }}
                                    {% endif %}
                                {% else %}
                                    Hra probíhá
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div class="text-center">Žádná hra ještě nebyla odehrána</div>
            {% endif %}
        </ul>
    </div>
</div>