{% extends "pia/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet">

        <style>
    .pwstrength_viewport_progress {
        height: 20px;
        width: 100%;
    }
    </style>

    <script type="text/javascript">
        var options = {};
        options.ui = {
            container: "#password-strength",
            viewports: {
                progress: ".pwstrength_viewport_progress"
            },
            showVerdictsInsideProgressBar: true
        };

        $(document).ready(function () {
            $('#id_password').pwstrength(options);
        });
    </script>

{% endblock %}

{% block content %}
    <div class="main">
        <div class="wrapper">
            <div class="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Reset hesla</h2>
                    {% if success_message is not None %}
                        <div class="form-error">
                            <div class="text-success text-center">
                                {{ success_message }}
                            </div>
                            <br/>
                            <div class="text-center">
                                <a class="text-center" href="/">Pokračujte na úvodní stránku</a>
                            </div>

                        </div>
                    {% else %}
                        <div class="form-group pb-0 mb-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                                </div>
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="form-group pt-0">
                        <div class="input-group" id="password-strength">
                            <div class="pwstrength_viewport_progress"></div>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                                </div>
                                {{ form.password2 }}
                            </div>
                        </div>
                        {% if form.errors.password is not None %}
                            <div class="form-error">
                                <div class="text-danger text-left">
                                    {% for key in form.errors.password %}
                                        - {{ key }} <br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary login-btn btn-block">Resetovat heslo</button>
                        </div>
                        </form>
                        </div>
                    {% endif %}
        </div>
    </div>
{% endblock %}