{% extends "pia/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main">
    <div class="wrapper">
        <div class="login-form">
            <form action="/password-reset" method="post">
                {% csrf_token %}
                <h2 class="text-center">Reset hesla</h2>
                {% if success_message is not None %}
                        <div class="form-error">
                            <div class="text-success text-center">
                                {{ success_message }}
                            </div>
                            <br/>
                            <div class="text-center">
                                <a class="text-center" href="/">Pokračujte na úvodní stránku</a>
                            </div>

                        </div>
                {% else %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </span>
                        </div>
                        {{ form.username }}
                    </div>
                </div>
                {% if form.errors.username is not None %}
                    <div class="form-error">
                        <div class="text-danger text-left">
                            {% for key in form.errors.username %}
                                - {{ key }} <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-btn btn-block">Resetovat heslo</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}