{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jakub Vítek">

    <title>KIV/PIA Piškvorky | Administrace </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

    <script src="{% static 'lobby/jquery/jquery.js' %}"></script>
    <script src="{% static 'lobby/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Ostatní CSS -->
    {% block css %}
        <style>
            .btn {
                height: 40px;
            }

            td, th {
                line-height: 40px;
            }
        </style>
    {% endblock %}


</head>

<body class="bg-dark">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg mr-0 ml-0 navbar-dark bg-primary static-top">
    <div class="container mr-0 ml-0 col-lg-12">
        <a class="navbar-brand" href="/lobby">KIV/PIA Piškvorky</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/lobby">Přihlášen jako: {{ user.email }}
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/lobby">Lobby
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Odhlášení</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container p-0 col-lg-12 align-content-center">
    {% block content %}
        <div class="row">
            <div class="col-6 m-auto pt-3">
                <table class="table table-striped table-bordered text-center table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Staff</th>
                        <th scope="col">Superuser</th>
                        <th scope="col" class="text-right">Obnovit heslo</th>
                    </tr>
                    </thead>
                    <tbody id="table-users">
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
</div>

<!-- Ostatní JS -->
{% block javascript %}
    <script>
        $(document).ready(function () {
            var table_append = function (id, email, staff, is_super) {
                if (staff) {
                    if (is_super) {
                        var html_permissions = `
                            <button class="btn btn-danger demote" data-id="${id}" disabled>
                                <i class="fa fa-user-times"></i>
                            </button>
                        `;
                    } else {
                        var html_permissions = `
                            <button class="btn btn-danger demote" data-id="${id}">
                                <i class="fa fa-user-times"></i>
                            </button>
                        `;
                    }
                } else {
                    var html_permissions = `
                        <button class="btn btn-success promote" data-id="${id}">
                            <i class="fa fa-user-plus"></i>
                        </button>
                    `;
                }

                if (is_super) {
                    var html_reset_password = `
                        <button class="btn btn-danger reset-password float-right" data-id="${id}" disabled>
                            <i class="fa fa-lock"></i>
                        </button>
                    `;
                } else {
                    var html_reset_password = `
                        <button class="btn btn-danger reset-password float-right" data-id="${id}">
                            <i class="fa fa-lock"></i>
                        </button>
                    `;
                }

                var super_text = is_super ? "Ano" : "Ne";


                var html = `
                    <tr>
                        <th scope="row" class="lh">${id}</th>
                        <td class="lh">${email}</td>
                        <td>
                            ${html_permissions}
                        </td>
                        <td>
                            ${super_text}
                        </td>
                        <td>
                            ${html_reset_password}
                        </td>
                    </tr>
                    `;

                $("#table-users").append(html);
            }

            var refresh = function () {
                // Remove old content
                $("#table-users").empty();

                // Request new content
                $.ajax({
                    type: 'GET',
                    url: 'http://192.168.0.107/api/users',
                    dataType: "json",
                    success: function (data) {
                        for (var key in data) {
                            var email = data[key]["email"];
                            var staff = data[key]["is_staff"];
                            var is_super = data[key]["is_superuser"]
                            var id = key;
                            table_append(id, email, staff, is_super);
                        }
                    }
                });
            }

            $("body").on("click",".promote", function () {
                var id = $(this).data("id");
                $.ajax({
                    type: 'PUT',
                    url: 'http://192.168.0.107/api/users/promote/' + id,
                }).always(function () {
                    refresh()
                });
            });

            $("body").on("click",".demote", function () {
                var id = $(this).data("id");
                $.ajax({
                    type: 'PUT',
                    url: 'http://192.168.0.107/api/users/demote/' + id,
                }).always(function () {
                    refresh()
                });
            });

            $("body").on("click", ".reset-password", function () {
                var id = $(this).data("id");
                $.ajax({
                    type: 'PUT',
                    url: 'http://192.168.0.107/api/users/reset-password/' + id,
                    success: function () {
                        alert("Heslo změněno");
                    }
                }).always(function () {
                    refresh();
                });
            })

            refresh();

        });
    </script>
{% endblock %}

</body>

</html>
