{% extends "game/base.html" %}
{% load static %}

{% block css %}
    {{ super.block }}
    <style>
        #playground {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row col-lg-12 mr-0 ml-0 pl-0 pr-0">
        <div class="col-lg-8 bg-light m-0 p-0">
            <div class="p-3">
                <div id="playground">

                </div>
            </div>
        </div>
        <div class="col-lg-4 bg-light m-0 p-0">
            <div class="card m-3">
                <div class="card-header text-white text-bold bg-primary">
                    Informace o hře
                </div>
                <div class="card-body p-0">
                    <ul class="list-group p-0">
                        <li class="list-group-item mb-0 pt-1 pb-1">
                            <div class="row">
                                <div class="col-6 user-username">
                                    Hráč 1:
                                </div>
                                <div class="col-6 float-right text-right">
                                    {{ game.player1.email }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item mb-0 pt-1 pb-1">
                            <div class="row">
                                <div class="col-6 user-username">
                                    Hráč 2:
                                </div>
                                <div class="col-6 float-right text-right">
                                    {{ game.player2.email }}
                                </div>
                            </div>
                        <li class="list-group-item mb-0 pt-1 pb-1">
                            <div class="row">
                                <div class="col-6 user-username">
                                    Herní symbol:
                                </div>
                                <div class="col-6 float-right text-right">
                                    {{ side|upper }}
                                </div>
                            </div>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
            {% include "lobby/chat-panel.html" %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static 'game/js/chat.js' %}"></script>

    <script type="text/javascript">
        // Create constants for square sizes
        const WIDTH = 100;
        const HEIGHT = 100;

        // Create constants for square color pattern
        const grid = [
            ['white', 'blue'],
            ['blue', 'white'],
        ];

        // Load images
        const image_x = new Image();
        image_x.src = "http://" + window.location.host + "{% static 'game/img/ttt-x.png' %}";
        const image_o = new Image();
        image_o.src = "http://" + window.location.host + "{% static 'game/img/ttt-o.png' %}";

        // Define playground render
        const stage = new Konva.Stage({
            container: 'playground',
            width: window.innerWidth,
            height: window.innerHeight,
            draggable: true
        });

        // Create Storage for player-edited squares
        const gameGrid = {}

        // Create main Layer and add it to playground
        const layer = new Konva.Layer();
        stage.add(layer);

        // Draw new player input
        function drawPlayerAction(x, y, who) {
            // Create new rectangle and add it to grid
            let color = who === "x" ? "back" : "red"
            let image = who === "x" ? image_x : image_o

            let scaleY = HEIGHT / image.height;
            let scaleX = WIDTH / image.width;

            var newRect = new Konva.Rect({
                x: x * WIDTH,
                y: y * HEIGHT,
                width: WIDTH,
                height: HEIGHT,
                //fill: color,
                fillPatternImage: image,
                fillPatternRepeat: 'no-repeat',
                fillPatternScaleY:scaleY,
                fillPatternScaleX:scaleX,
                zindex: 0,
            });
            // Add new rectangle to playground storage
            if(gameGrid[x] === undefined) {
                gameGrid[x] = {};
            }
            gameGrid[x][y] = newRect;
        }

        // Create function to render playground including players input
        function checkShapes() {
            // Calculate visible parts of stage
            const startX = Math.floor((-stage.x() - stage.width()) / WIDTH) * WIDTH;
            const endX = Math.floor((-stage.x() + stage.width() * 2) / WIDTH) * WIDTH;

            const startY = Math.floor((-stage.y() - stage.height()) / HEIGHT) * HEIGHT;
            const endY = Math.floor((-stage.y() + stage.height() * 2) / HEIGHT) * HEIGHT;

            // For every x,y in game grid, create render
            for (var x = startX; x < endX; x += WIDTH) {
                for (var y = startY; y < endY; y += HEIGHT) {
                    // Get grid color pattern
                    const indexX = Math.abs(x / WIDTH) % grid.length;
                    const indexY = Math.abs(y / HEIGHT) % grid[0].length;

                    // Get X,Y coordinations on grid
                    const coordX = (x / WIDTH);
                    const coordY = (y / HEIGHT);

                    // Create new rectangle object, and add additional info to it
                    var rect = new Konva.Rect({
                        x,
                        y,
                        width: WIDTH,
                        height: HEIGHT,
                        fill: grid[indexX][indexY]
                    })
                    rect.coordX = coordX;
                    rect.coordY = coordY;

                    // Add event listener to created rectangle
                    rect.on("click tap", function () {
                        // Get item coords
                        console.log("[" + this.coordX + " , " + this.coordY + "]");

                        // TODO: Send server request
                        // TODO: Validate server request
                        //      Stop function if message is not OK, eg. TAKEN, NOT_TURN
                        //      If everything is OK

                        let who = "o"
                        // Draw new player action - eg. o or x
                        drawPlayerAction(this.coordX, this.coordY, who)
                        // Refresh canvas
                        layer.destroyChildren();
                        checkShapes();
                        layer.draw();
                    })
                    layer.add(rect);

                    // User input exist
                    if (gameGrid[coordX] !== undefined && gameGrid[coordX][coordY] !== undefined) {
                        layer.add(gameGrid[coordX][coordY]);
                    }


                    // Create text inside square
                    var text = new Konva.Text({
                        text: '' + coordX + " , " + coordY,
                        x: x + WIDTH / 3,
                        y: y + HEIGHT / 2,
                        width: WIDTH,
                        fontFamily: 'sans-serif',
                        fontSize: HEIGHT / 6,
                        fill: 'red',
                        zindex: 1,
                    });
                    // Add text to layer to render
                    layer.add(text);

                }
            }

            // Draw everything in layer
            layer.draw()
        }

        // Initial draw of playground
        checkShapes();
        layer.draw();

        // Redraw playground on drag
        stage.on('dragend', () => {
            layer.destroyChildren();
            checkShapes();
            layer.draw();
        })
    </script>
{% endblock %}